@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Macondo&family=Varela+Round&display=swap');
#h1
{
    color:gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
#h2
{
    color:deeppink;
    font-family: 'Lobster Two', cursive;

}
#h3
{
    text-align: right;
    color:deeppink;
    font-family: 'Lobster Two', cursive;
}